<!-- Título: Experiencia como programador -->
<div class="mt-20 mb-6">
  <p class="text-cyan-800 font-semibold text-3xl text-center">Experiencia como programador</p>
</div>

<!-- Componente de experiencia -->
<app-cards-experiencia></app-cards-experiencia>

<!-- Título: Experiencia en otros campos -->
<div class="mt-20 mb-6">
  <p class="text-cyan-800 font-semibold text-3xl text-center">Experiencia en otros campos</p>
</div>

<!-- Componente de experiencia no relacionada -->
<app-cards-no-relacionado></app-cards-no-relacionado>
